<div class="controls">
  <% if @page > 1 %>
    <a href="?<%= to_params(@prev) %>">Prev</a>
  <% else %>
    <span class="disabled">Prev</span>
  <% end %>

  | Page <%= @page %> |

  <% if @more %>
    <a href="?<%= to_params(@next) %>">Next</a>
  <% else %>
    <span class="disabled">Next</span>
  <% end %>
</div>
