<div class="controls">
  <% if @page > 1 %>
  <a href="?<%= to_params(@prev) %>">Prev</a>
  <% else %>
  <span class="disabled">Prev</span>
  <% end %>

  | Page <%= @page %> |
  <a href="?<%= to_params(@next) %>">Next</a>
</div>
