<div class="controls">
  <% if @page_params[:page] > 1 %>
    <a href="?page=<%= @page_params[:page] - 1 %>">Prev</a>
  <% else %>
    <span class="disabled">Prev</span>
  <% end %>

  | Page <%= @page_params[:page] %> |

  <% if @page_params[:more] %>
    <a href="?page=<%= @page_params[:page] + 1 %>">Next</a>
  <% else %>
    <span class="disabled">Next</span>
  <% end %>
</div>
