<h2>API</h2>

<p>A non-comprehensive, JSON-based API is provided.</p>

<h3>Characters</h3>

<p>Get information about a characater:</p>

<p>
  <code>/{server}/{character}.json</code>
</p>

<p>Example: <code><a href="/WintersEbb/Kolthar.json">/WintersEbb/Kolthar.json</a></code></p>
<h3>Populations</h3>

<ul>
  <li>All: <code><a href="/populations.json">/populations.json</a></code></li>
  <li>Latest: <code><a href="/populations-latest.json">/populations-latest.json</a></code></li>
</ul>
