<!DOCTYPE html>
<html>
  <title><%= @title || "TreeStats" %></title>
  <meta content='width=device-width, initial-scale=1' name='viewport'>
  <link rel="stylesheet" href="/css/styles.css">
  <body>
    <header>
      <h1><a href="/">TreeStats</a></h1>
      <nav>
        <a href="/servers">Servers</a>
        <a href="/characters">Characters</a>
        <a href="/rankings">Rankings</a>
      </nav>
      <form action="/search">
        <label for="query">Search:</label>
        <input type="text" id="query" name="query">
        <input type="submit">
      </form>
    </header>
    <content>
      <%= yield %>
    </content>
  </body>
</html>