<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= @title || "TreeStats" %></title>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <h1><a href="/">TS</a></h1>
      <a href="/servers">Servers</a>
      <a href="/characters">Characters</a>
      <a href="/allegiances">Allegiances</a>
      <a href="/rankings">Rankings</a>
      <form id="search" action="/search">
        <input type="text" id="query" name="query" placeholder="Search" />
      </form>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
