<h2>Populations</h2>

<p>Maximum players online by day for each server.</p>
<div id="chart"></div>

<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://d3js.org/d3-array.v2.min.js"></script>
<script src="/js/popchart.js"></script>
<script>
  (function() {
    popchart("#chart")
  })();
</script>
