<h2>Populations</h2>

<p>Maximum players online by day for each server.</p>
<div id="chart"></div>

<script src="<%= javascript_path("d3.v5.min") %>"></script>
<script src="<%= javascript_path("d3-array.v2.min") %>"></script>
<script src="<%= javascript_path("popchart") %>"></script>
<script>
  (function() {
    popchart("#chart")
  })();
</script>
