<h2>Populations</h2>

<p>Maximum players online by day for each server.</p>
<div id="chart"></div>

<script src="<%= javascript_path("d3.min") %>"></script>
<script src="<%= javascript_path("d3-array.min") %>"></script>
<script src="<%= javascript_path("popchart") %>"></script>
