<h2>Populations</h2>

<p>Maximum players online by day for each server.</p>
<div id="chart"></div>

<script src="/js/popchart.js"></script>
<script>
  (function() {
    popchart("#chart")
  })();
</script>
