<h2>Rankings</h2>

<h3>Attributes & Vitals</h3>

<ul>
  <li><a href="/rankings/strength_base">Strength</a></li>
  <li><a href="/rankings/endurance_base">Endurance</a></li>
  <li><a href="/rankings/coordination_base">Coordination</a></li>
  <li><a href="/rankings/quickness_base">Quickness</a></li>
  <li><a href="/rankings/focus_base">Focus</a></li>
  <li><a href="/rankings/self_base">Self</a></li>
  <li><a href="/rankings/health_base">Health</a></li>
  <li><a href="/rankings/stamina_base">Stamina</a></li>
  <li><a href="/rankings/mana_base">Mana</a></li>
</ul>

<h3>Skills</h3>

<ul>
  <li><a href="/rankings/alchemy">Alchemy</a></li>
</ul>

<h3>Other</h3>

<ul>
  <li><a href="/rankings/level">Level</a></li>
  <li><a href="/rankings/titles">Titles</a></li>
  <li><a href="/rankings/birth">Oldest Character</a></li>
  <li><a href="/rankings/deaths">Most Deaths</a></li>
  <li><a href="/rankings/rank">Rank</a></li>
  <li><a href="/rankings/followers">Followers</a></li>
  <li><a href="/rankings/unassigned_xp">Unassigned XP</a></li>
  <li><a href="/rankings/total_xp">Total XP</a></li>
  <li><a href="/rankings/times_enlightened">Times Enlightened</a></li>
</ul>
