<h2>Rankings</h2>

<div class="rankings">
  <div class="group">
    <h3>Attributes & Vitals</h3>
    <ul>
      <li><a href="/rankings/strength_base">Strength</a></li>
      <li><a href="/rankings/endurance_base">Endurance</a></li>
      <li><a href="/rankings/coordination_base">Coordination</a></li>
      <li><a href="/rankings/quickness_base">Quickness</a></li>
      <li><a href="/rankings/focus_base">Focus</a></li>
      <li><a href="/rankings/self_base">Self</a></li>
      <li><a href="/rankings/health_base">Health</a></li>
      <li><a href="/rankings/stamina_base">Stamina</a></li>
      <li><a href="/rankings/mana_base">Mana</a></li>
    </ul>
  </div>
  <div class="group">
    <h3>Skills</h3>

    <ul>
      <li><a href="/rankings/alchemy">Alchemy</a></li>
      <li><a href="/rankings/arcane_lore">Arcane Lore</a></li>
      <li><a href="/rankings/armor_tinkering">Armor Tinkering</a></li>
      <li><a href="/rankings/assess_creature">Assess Creature</a></li>
      <li><a href="/rankings/assess_person">Assess Person</a></li>
      <li><a href="/rankings/cooking">Cooking</a></li>
      <li><a href="/rankings/creature_enchantment">Creature Enchantment</a></li>
      <li><a href="/rankings/deception">Deception</a></li>
      <li><a href="/rankings/dirty_fighting">Dirty Fighting</a></li>
      <li><a href="/rankings/dual_wield">Dual Wield</a></li>
      <li><a href="/rankings/fletching">Fletching</a></li>
      <li><a href="/rankings/finesse_weapons">Finesse Weapons</a></li>
      <li><a href="/rankings/healing">Healing</a></li>
      <li><a href="/rankings/heavy_weapons">Heavy Weapons</a></li>
      <li><a href="/rankings/item_enchantment">Item Enchantment</a></li>
      <li><a href="/rankings/item_tinkering">Item Tinkering</a></li>
      <li><a href="/rankings/jump">Jump</a></li>
      <li><a href="/rankings/leadership">Leadership</a></li>
      <li><a href="/rankings/life_magic">Life Magic</a></li>
      <li><a href="/rankings/light_weapons">Light Weapons</a></li>
      <li><a href="/rankings/lockpick">Lockpick</a></li>
      <li><a href="/rankings/loyalty">Loyalty</a></li>
      <li><a href="/rankings/magic_defense">Magic Defense</a></li>
      <li><a href="/rankings/magic_item_tinkering">Magic Item Tinkering</a></li>
      <li><a href="/rankings/mana_conversion">Mana Conversion</a></li>
      <li><a href="/rankings/melee_defense">Melee Defense</a></li>
      <li><a href="/rankings/missile_defense">Missile Defense</a></li>
      <li><a href="/rankings/missile_weapons">Missile Weapons</a></li>
      <li><a href="/rankings/recklessness">Recklessness</a></li>
      <li><a href="/rankings/run">Run</a></li>
      <li><a href="/rankings/salvaging">Salvaging</a></li>
      <li><a href="/rankings/shield">Shield</a></li>
      <li><a href="/rankings/sneak_attack">Sneak Attack</a></li>
      <li><a href="/rankings/two_handed_combat">Two Handed Combat</a></li>
      <li><a href="/rankings/summoning">Summoning</a></li>
      <li><a href="/rankings/void_magic">Void Magic</a></li>
      <li><a href="/rankings/war_magic">War Magic</a></li>
      <li><a href="/rankings/weapon_tinkering">Weapon Tinkering</a></li>
    </ul>
  </div>
  <div>
    <h3>Other</h3>

    <ul>
      <li><a href="/rankings/level">Level</a></li>
      <li><a href="/rankings/titles">Titles</a></li>
      <li><a href="/rankings/birth">Oldest Character</a></li>
      <li><a href="/rankings/deaths">Most Deaths</a></li>
      <li><a href="/rankings/rank">Rank</a></li>
      <li><a href="/rankings/followers">Followers</a></li>
      <li><a href="/rankings/unassigned_xp">Unassigned XP</a></li>
      <li><a href="/rankings/total_xp">Total XP</a></li>
      <li><a href="/rankings/times_enlightened">Times Enlightened</a></li>
    </ul>
  </div>
</div>
