body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  padding: 0.5rem;
}

nav {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav h1 {
  margin: 0;
  padding: 0;
}

nav a,
nav a:visited {
  color: blue;
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 0.5rem;
  vertical-align: middle;
}

nav li:last-child {
  margin-right: 0;
}

/* General styles */
input {
  font-size: inherit;
}

/* Specific stuff */
#chain {
  border: 1px solid black;
  max-width: 624px;
}

#chain .message {
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  padding: 1.5rem;
}

.panes {
  display: flex;
}

.tabcontainer {
  width: 300px;
  margin: 0 1.5rem 1.5rem 0;
}

.tabbar {
  display: flex;
}

.tab {
  cursor: pointer;
  padding: 0.25rem;
}

.tab.active {
  border: 1px solid black;
  background-color: black;
  color: white;
  font-weight: bold;
}

.tab.inactive {
  background-color: #CCC;
  color: black;
}

.box {
  border: 1px solid black;
  max-height: 320px;
  overflow-y: scroll;
  font-size: 90%;
}

.box.active {
  display: block;
}

.box.inactive {
  display: none;
}

.box h4 {
  margin: 0;
  padding: 0;
  color: gold;
}

.box table {
  width: 100%;
}

.box table thead tr th {
  text-align: left;
}

.box table tbody tr td:last-child {
  text-align: right;
}

.character-header {
  display: grid;
  grid-template-columns: 4fr 1fr;
  border-bottom: 1px solid black;
  font-size: 90%
}

.character-header > div {
  text-align: center;
}

.character-header-left {
  border-right: 1px solid black;
  display: grid;
  grid-template-rows: 1fr 1fr 1.5fr;
}

.character-header .twocol {
  align-self: end;
}

.character-header-level {
  font-size: 200%;
}

.character-footer {
  border-top: 1px solid black;
}

.twocol {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.twocol > div:first-child {
  text-align: left;
}

.twocol > div:last-child {
  text-align: right;
}

ul.titles,
ul.vassals {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.highlight {
  color: green;
  font-weight: bold;
}