/* Variables */
$gray: #CCC;

/* General styles */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 16px;
  padding: 0.5rem;
  max-width: 948px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

h2 {
  margin-bottom: 1rem;
}

img {
  clip-path: circle(10px at center);
}

input {
  font-size: inherit;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav h1 {
  font-size: 200%;
}

nav a,
nav a:visited {
  text-decoration: none;
  color: black;
}

nav ul {
  list-style-type: none;
  margin: 0 0 0 0.5rem;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

nav ul li {
  display: inline-block;
  margin: 0.25rem 1rem 0.25rem 0;
  font-weight: bold;
  text-align: end;
  box-sizing: border-box;
}

nav ul li a:hover {
  border-bottom: 1px solid red;
}

/* Special elements */
#search {
  margin: 0.5rem 0;
  text-align: right;
  align-self: flex-end;
}

#search input {
  border: none;
  box-shadow: $gray 0 0 0 1px,1px 1px 1px 0 $gray;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
}

/* Specific stuff */
#chain-container {
  border: 1px solid black;
  position: relative;
  background-color: white;
  max-width: 622px;
}

#chain-container.zoomed {
  max-width: inherit;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#chain-container .toggle {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  background-color: black;
  color: white;
  padding: 0.25rem 0.5rem;
}

#chain {
  width: 100%;
  height: 100%;
}

#chain > span {
  display: block;
  text-align: center;
  padding: 3rem;
}

#chart {
  font-size: 7pt;
}

/* Controls */
.controls {
  margin-bottom: 1rem;
}

.controls a {
  text-decoration: none;
}

.controls a:visited {
  color: blue;
}

/* Listings */
.listing {
  margin-bottom: 1.5rem;
}

table.listing th {
  border-bottom: 1px solid black;
}

/* Panes */
.panes {
  display: flex;
  flex-wrap: wrap;
}

.panes .dashboard {
  margin-right: 1rem;
  padding: 0.5rem;
}

.panes .dashboard h3 {
  font-size: 100%;
  margin-bottom: 0.25rem;
}

.tabcontainer {
  width: 300px;
  min-width: 300px;
  margin: 0 1.5rem 1.5rem 0;
}

.tabcontainer:last-child {
  margin-right: 0;
}

.tabbar {
  display: flex;
}

.tab {
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  max-width: 100px;
  overflow: hidden;
}

.tab.active {
  border: 1px solid black;
  background-color: black;
  color: white;
}

.tab.inactive {
  background-color: $gray;
  color: black;
}

.box {
  border: 1px solid black;
  max-height: 21rem;
  overflow-y: auto;
  font-size: 90%;
}

.box.active {
  display: block;
}

.box.inactive {
  display: none;
}

.box.padded > div,
.box.padded > ul {
  padding: 0.25rem;
}

.box.divided > div {
  border-bottom: 1px solid black;
}

.box.divided > div:last-child {
  border: none;
}

.box h4 {
  margin: 0;
  padding: 0;
  color: black;
}

.box table {
  width: 100%;
  border-collapse: collapse;
}

.box th,
.box td {
  margin: 0;
  padding: 1px 3px;
}

.box table thead tr th {
  text-align: left;
}

.box td:last-child {
  text-align: right;
}

.box.other > div {
  margin: 1rem;
  text-align: center;
}

/* Character sheet */
.character-header {
  display: grid;
  grid-template-columns: 4fr 1fr;
  border-bottom: 1px solid black;
  font-size: 80%;
}

.character-header-left {
  border-right: 1px solid black;
  padding: 0.25rem;
}

.character-header-level {
  padding: 0.25rem;
}

.character-header .twocol {
  align-self: end;
}

.character-header-name {
  font-size: 120%;
}

.character-header-description {
  margin-bottom: 1rem;
}

.character-header {
  text-align: center;
}

.character-header-level-number {
  font-size: 200%;
}

.character-footer {
  border-top: 1px solid black;
}

.twocol {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.twocol > div:first-child {
  text-align: left;
}

.twocol > div:last-child {
  text-align: right;
}

.rankings {
  display: flex;
  flex-wrap: wrap;
}

.rankings .group {
  margin-right: 1.5rem;
}

.rankings .group:last-child {
  margin-right: 0;
}

ul.titles,
ul.vassals {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.highlight {
  color: green;
  font-weight: bold;
}

.disabled {
  color: #AAA;
}

.larger {
  font-size: 110%
}

.skill-group {
  height: 1.5rem;
}

.specialized {
  color: white;
  background-color: #392067;
  background: linear-gradient(to right, #392067, #392067, black);
}

.trained {
  color: white;
  background-color: #0F3C3E;
  background: linear-gradient(to right, #0F3C3E, #0F3C3E, black);
}

.untrained {
  background-color: rgba(255, 141, 35, 0.329);
}

.unusable {
  background-color: rgba(255, 141, 35, 0.329);
}

td.icon {
  width: 26px;
  padding-right: 0;
}
